footer {
  display: flex;
  justify-content: space-around;
  background: rgb(16, 18, 20);
  background: linear-gradient(
    245deg,
    rgba(16, 18, 20, 1) 0%,
    rgba(0, 68, 137, 1) 15%,
    rgba(0, 68, 137, 1) 85%,
    rgba(16, 18, 20, 1) 100%
  );
  color: white;
}
.social {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
}
.social__icon {
  margin: 10px;
  font-size: 1.8rem;
}
.content {
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.content__menu {
  display: flex;
  justify-content: space-around;
}
.content__conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__conditions--p {
  margin: 5px;
}
.logodown {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logodown__img--atom {
  width: 4rem;
}
@media (max-width: 767px) {
  footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "social logodown"
      "content content";
  }
  .social {
    grid-area: social;
    width: 100%;
    margin: 10px 0;
  }
  .content {
    grid-area: content;
    width: 100%;
  }
  .content__menu {
    display: flex;
    justify-content: space-evenly;
  }
  .content__conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
  }
  .content__conditions--p {
    margin: 5px;
    text-align: center;
  }
  .logodown {
    grid-area: logodown;
    width: 100%;
    margin: 10px 0;
  }
}
